{% extends 'base.html' %}
{% block content %}
<section class="vh-100" style="">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-6">
            <div class="card shadow-2-strong account-card" style="">
              <div class="card-body p-5 text-center">
                <h2 class="mb-5">Forget Password</h2>
                        {% if form.errors %}
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                        
                                    <div class="form-outline mb-4">
                                        <input type="email" id="id_email" placeholder="Enter email"  class="form-control form-control-lg" name="email"/>
                                        <label class="form-label" for="id_email">Email Address</label>
                                      </div>
                              
                                    <button class="btn bueno-btn" type="submit">Submit</button>
                            </form>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            <div class="small">
                                <a href="{% url 'accounts:signup' %}">Create A New Account</a><br><br>
                                <a href="{% url 'accounts:login' %}">Back To Login</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</section>
{% endblock content %}