{% extends 'base.html' %}

{%block content %}

{% load static %}

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-100-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="post-details-content mb-100">
                        <div class="blog-thumbnail mb-50">
                            <img src="{% static 'img/about_us/Indian_ Food_ Stories.jpg' %}" alt="">
                        </div>
                        <div class="blog-content">
                            <h4 class="post-title">About Us</h4>
                            <p>Welcome to Indian Kitchen Stories! We are a set of talented and passionate foodies who love to feed our loved ones good food ,especially a variety of Tasty Indian Cuisine. We currently hold full time jobs , but felt that there is a dearth of information and knowledge about Indian Cuisine across the World. Indian Kitchen Stories started with a general conversation around how misunderstood the variety and depth of Indian food is outside India. We started this initiative with an Aim to introduce the vibrancy and taste of our Ancient Indian Food Wisdom with all of you through our Blogs, Recipes, Cooking videos and Events.</p>

                            <p>Suspendisse nisl leo, gravida quis tortor at, ornare commodo neque. Donec tortor turpis, pharetra et pulvinar vitae, ullamcorper et mi. Sed eu magna aliquam, suscipit massa sit amet, mattis augue. Nam ut tortor ut ligula molestie feugiat vitae et nulla. Sed porta erat vitae leo pellentesque malesuada. In sollicitudin, massa euismod aliquet volutpat, enim metus varius dui, vestibulum efficitur ante velit non nisi. Cras varius bibendum sapien, id tincidunt velit placerat id. Nunc vitae facilisis nunc. Suspendisse ut felis sagittis mauris faucibus tincidunt vitae id tortor. Nullam tincidunt finibus turpis, a accumsan mauris laoreet cursus. Phasellus pharetra odio sapien, id suscipit nisi lobortis ut.</p>

                            <p>Duis posuere odio vitae neque egestas luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer risus neque, sollicitudin pharetra pulvinar a, imperdiet porttitor nunc. Aenean pretium, libero eu pulvinar commodo, lorem enim bibendum est, vel suscipit est mi non tortor. Vestibulum sit amet pretium tortor. Donec posuere, dui quis dictum hendrerit, odio mauris aliquam lacus, eu egestas libero risus vel nisi. Proin condimentum varius lectus sed dapibus. Etiam nec iaculis est.</p>
                        </div>
                    </div>
                    


                     <!-- Sidebar Widget -->
                        <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                            <div class="sidebar-area">

                        <!-- Single Widget Area -->
                        <div class="single-widget-area author-widget mb-30">
                            <div class="background-pattern bg-img" style="background-image: url(img/core-img/pattern2.png);">
                                <div class="author-thumbnail">
                                    <img src="{% static 'img/about_us/Indian_Cuisine.jpg' %}" alt="">
                                </div>
                                <p>We are <span>Reshma and Nalini</span>, We are passionate cooks with a love for Indian Cuisine.</p>
                            </div>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area add-widget mb-30">
                            <img src="{% static 'img/about_us/Indian_Cuisine2.jpg' %}"  alt="">
                        </div>
                    </div>
                </div>
                {% include '_sidebar.html' %}
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->



<!-- ##### Instagram Area Start ##### -->
<div class="instagram-feed-area d-flex flex-wrap">
    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta1.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta1.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src=" {% static 'img/bg-img/insta2.jpg' %} " alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta2.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta3.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta3.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta4.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta4.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta5.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta5.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta6.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta6.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta7.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta7.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta8.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta8.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta9.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta9.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>

    <!-- Single Instagram -->
    <div class="single-instagram">
        <img src="{% static 'img/bg-img/insta10.jpg' %}" alt="">
        <!-- Image Zoom -->
        <a href="{% static 'img/bg-img/insta10.jpg' %}" class="img-zoom" title="Instagram Image">+</a>
    </div>
</div>
<!-- ##### Instagram Area End ##### -->




{% endblock content %}

